/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
@import "~primeng/resources/themes/luna-pink/theme.css"
@import "~primeng/resources/primeng.min.css"
@import "~primeflex/primeflex.css"
@import "~primeicons/primeicons.css"
@import "~flag-icon-css/css/flag-icon.min.css"
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap')

$fa-font-path: "../webfonts"

body
  background-color: var(--surface-a)
  font-family: var(--font-family)
  color: var(--text-color)

*
  font-family: 'Oxygen', sans-serif


.white-shadow .p-card
  box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.81)


.red-header .p-card .p-card-header
  background-color: #a83271
  padding: 3%
  filter: brightness(0.7) contrast(0.59) grayscale(0.15) hue-rotate(-11deg) invert(0.11) sepia(0.14)
  color: #fff


.green-header .p-card .p-card-header
  background-color: #32a838
  padding: 3%
  filter: brightness(0.7) contrast(0.59) grayscale(0.15) hue-rotate(-11deg) invert(0.11) sepia(0.14)
  color: #fff


.blue-header .p-card .p-card-header
  background-color: #3283a8
  padding: 3%


.dark-blue-header .p-card .p-card-header
  background-color: #3246a8
  padding: 3%


.purple-header .p-card .p-card-header
  background-color: #5e32a8
  padding: 3%


.dark-red-header .p-card .p-card-header
  background-color: #a83232
  padding: 3%


.dark-green-header .p-card .p-card-header
  background-color: #52a832
  padding: 3%


.cyan-header .p-card .p-card-header
  background-color: #32a86f
  padding: 3%


.apps .p-megamenu.p-megamenu-vertical
  width: 100%


.apps-card .p-card-body,
.apps-card .p-card-content
  padding: 0


.popover-header,.popover-body,.popover-arrow
  background-color: var(--surface-a)
  font-family: var(--font-family)
  color: var(--text-color)


.notGranted
  filter: invert(22.6%) sepia(26%) hue-rotate(92.6deg) brightness(40.2%) contrast(39.9%)


.p-password
  width: 100%

